.bln-container {
    padding: 10px;
}

.search-box {
    padding-bottom: 10px;
}

.dnd-placeholder {
    color: darkgray;
    font-size: 150%;
    text-align: center;
    text-shadow: 0 1px gray;
}

.book-box {
    height: 200px;
    max-height: 200px;
    overflow: scroll;
    border-radius: 5px;
    border: 2px lightgrey dashed;
}

.book-box {
    padding: 10px;
    border-style: solid;
}

.book-box .book {
    margin: 0 10px 10px 0;

    float: left;
}

.book-box .book.placeholder {
    width: 130px;
    height: 170px;
    padding: 3px 5px;
    box-sizing: border-box;

    text-align: center;
    border: 2px dotted lightgray;
    color: darkgray;
    border-radius: 3px;
}

.book-box .img {
    width: 130px;
    height: 170px;
    background-size: 130px;
    background-position: center center;
    background-repeat: no-repeat;
}

.hide {
    display: none;
}