.shelf-box, .book-box {
    min-height: 100px;
    border-radius: 5px;
    border: 3px lightgrey dashed;
}

.book-box {
    padding: 10px;
    border-style: solid;
}

.book-box .book {
    width: 130px;
    height: 160px;
    margin-right: 10px;
    overflow: hidden;

    display: inline-block;
}


.book-box .img {
    width: 130px;
    text-align: center;
}

.book-box .title {
    font-size: 80%;
    line-height: .8em;
    text-align: center;
}